<main class="wrapper">
    <section class="hero">
        <h1>Sea tales</h1>
        <p>The ocean has always proven to be a place of fascination and wonder. The creatures that call it home are some of the most extraordinary that live on our beautiful blue planet. Explore stories of those who have been there, stayed salty, and made a difference. <a href="#">Read me</a></p>
    </section>

    <section class="stories">
        <article>
            <figure>
                <img src="img/s1.jpg" alt="sea tales">
                <figcaption>
                    <h3>Sea turtle hatchlings</h3>
                </figcaption>
            </figure>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente necessitatibus a atque doloremque rerum vitae ipsa in impedit beatae quaerat? Ipsam harum recusandae iste quis in nesciunt eveniet maxime reiciendis. <a href="">Read more</a></p>
        </article>

        <article>
            <figure>
                <img src="img/s2.jpg" alt="sea tales">
                <figcaption>
                    <h3>Tropical fish</h3>
                </figcaption>
            </figure>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quae provident, nam quidem quos odit. Placeat itaque perspiciatis aut, fugit, totam quam ea maxime inventore exercitationem nobis, officiis debitis fuga! <a href="">Read more</a></p>
        </article>

        <article>
            <figure>
                <img src="img/s3.jpg" alt="sea tales">
                <figcaption>
                    <h3>Humpback whales</h3>
                </figcaption>
            </figure>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt modi aspernatur voluptatem sequi consequuntur nemo temporibus natus sunt. Quod dignissimos doloremque voluptates omnis. Officiis possimus libero optio, quam rem quod? <a href="">Read more</a></p>
        </article>
    </section>
</main>

<footer>
    <p>Copyright 2022 | Sea tales &mdash; stories with heart and water.</p>
</footer>



